<mat-card class="card">
  <p>Desde: Madrid<span class="floatR">09:09</span></p>
  <p>Hasta: Barcelona</p>
</mat-card>

<mat-card class="card">
  <p>Desde: Madrid<span class="floatR">09:09</span></p>
  <p>Hasta: Barcelona</p>
</mat-card>

<mat-card class="card">
  <p>Desde: Madrid<span class="floatR">09:09</span></p>
  <p>Hasta: Barcelona</p>
</mat-card>

<mat-card class="card">
  <p>Desde: Madrid<span class="floatR">09:09</span></p>
  <p>Hasta: Barcelona</p>
</mat-card>

<mat-card class="card">
  <p>Desde: Madrid<span class="floatR">09:09</span></p>
  <p>Hasta: Barcelona</p>
</mat-card>

