<mat-grid-list cols="1" rowHeight="80px" class="search-box">
    <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="color-white">
        <h2>¿Dónde quieres ir?</h2>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="color-white">
        <p>Busca, reserva y llega a tu destino.</p>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <figure class="search-box-content">
            <mat-form-field class="border-input">
                <input matInput placeholder="Desde" value="">
            </mat-form-field>
            <mat-form-field class="border-input">
                <input matInput placeholder="Hasta" value="">
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button mat-button color="primary" class="margin-left-s" (click)="goToSearchTravelList()">Buscar viaje</button>
        </figure>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
</mat-grid-list>
